@using SmallStructuresTakeOffs.Models
@*@model IEnumerable<RebarPresentationVM.RebarRequestsVM>*@
@model IEnumerable<RebarPresentationVM.RebarFabricationVM>
<h6>This is my Rebar Results View</h6>

@*@Html.Partial("RebarRequestsSorted", Model)*@

<partial name="RebarFabricationVM" />