@using SmallStructuresTakeOffs.Controllers
@using SmallStructuresTakeOffs.Models
@model IEnumerable<RebarPresentationVM.RebarFabricationVM>

@{
    ViewData["Title"] = "REBAR FABRICATION";
}


<h6>This is my Rebar Results View</h6>


<div>
    @await Component.InvokeAsync("PurchasesList", new { })
</div>
<div></div>
<div>
    @await Component.InvokeAsync("WastesList", new { })
</div>
<div></div>
<h3>Fabrication Items (View)</h3>
<partial name="RebarFabricationVM">
