@model SmallStructuresTakeOffs.Models.SD630Headwall

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit: @Model.GetType().Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HeadwallId" />
            <input type="hidden" asp-for="HWProjId"  />

            <div class="form-group">
                <label asp-for="HWcode" class="control-label"></label>
                <input asp-for="HWcode" class="form-control" />
                <span asp-validation-for="HWcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWDescription" class="control-label"></label>
                <input asp-for="HWDescription" class="form-control" />
                <span asp-validation-for="HWDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisHeadwallId" class="control-label"></label>
                <select asp-for="ThisHeadwallId" class="form-control" asp-items="@ViewBag.HWList"></select>
                <span asp-validation-for="ThisHeadwallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.HWProjId">Back to List</a>
</div>

@*<div class="form-group">
    <label asp-for="SD630Description" class="control-label"></label>
    <input asp-for="SD630Description" class="form-control" />
    <span asp-validation-for="SD630Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PipeNo" class="control-label"></label>
    <select asp-for="PipeNo" class="form-control"></select>
    <span asp-validation-for="PipeNo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_I_D" class="control-label"></label>
    <input asp-for="SD630_I_D" class="form-control" />
    <span asp-validation-for="SD630_I_D" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_A" class="control-label"></label>
    <input asp-for="SD630_A" class="form-control" />
    <span asp-validation-for="SD630_A" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_B" class="control-label"></label>
    <input asp-for="SD630_B" class="form-control" />
    <span asp-validation-for="SD630_B" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_C" class="control-label"></label>
    <input asp-for="SD630_C" class="form-control" />
    <span asp-validation-for="SD630_C" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_D" class="control-label"></label>
    <input asp-for="SD630_D" class="form-control" />
    <span asp-validation-for="SD630_D" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_E" class="control-label"></label>
    <input asp-for="SD630_E" class="form-control" />
    <span asp-validation-for="SD630_E" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_F" class="control-label"></label>
    <input asp-for="SD630_F" class="form-control" />
    <span asp-validation-for="SD630_F" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_G" class="control-label"></label>
    <input asp-for="SD630_G" class="form-control" />
    <span asp-validation-for="SD630_G" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SD630_L" class="control-label"></label>
    <input asp-for="SD630_L" class="form-control" />
    <span asp-validation-for="SD630_L" class="text-danger"></span>
</div>*@
@*<div class="form-group">
    <label asp-for="RebNo4Req" class="control-label"></label>
    <input asp-for="RebNo4Req" class="form-control" />
    <span asp-validation-for="RebNo4Req" class="text-danger"></span>
</div>*@
@*<div class="form-group">
<label asp-for="RebNo4Purch" class="control-label"></label>
<input asp-for="RebNo4Purch" class="form-control" />
<span asp-validation-for="RebNo4Purch" class="text-danger"></span>
</div>*@
