@model SmallStructuresTakeOffs.Models.C1580CB

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>C1580CB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="C1580CBId" />
            <div class="form-group">
                <label asp-for="C1580CBCode" class="control-label"></label>
                <input asp-for="C1580CBCode" class="form-control" />
                <span asp-validation-for="C1580CBCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="C1580CBDescription" class="control-label"></label>
                <input asp-for="C1580CBDescription" class="form-control" />
                <span asp-validation-for="C1580CBDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C1580CBHeight" class="control-label"></label>
                <input asp-for="C1580CBHeight" class="form-control" />
                <span asp-validation-for="C1580CBHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C1580Reb4FandI" class="control-label"></label>
                <input asp-for="C1580Reb4FandI" class="form-control" />
                <span asp-validation-for="C1580Reb4FandI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C1580Reb4Purch" class="control-label"></label>
                <input asp-for="C1580Reb4Purch" class="form-control" />
                <span asp-validation-for="C1580Reb4Purch" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

